<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Technical Documentation Page</title>
</head>
<body>
  <nav id="navbar">
    <header>Vue JS Documentation</header>
    <a class="nav-link" href="#What_is_Vue.js?">What is Vue.js?</a>
    <a class="nav-link" href="#Getting_Started">Getting Started</a>
    <a class="nav-link" href="#Declarative_Rendering">Declarative Rendering</a>
    <a class="nav-link" href="#Conditionals_and_Loops">Conditionals and Loops</a>
    <a class="nav-link" href="#Handling_User_Input">Handling User Input</a>
    <a class="nav-link" href="#Composing_with_Components">Composing with Components</a>
  </nav>

  <main id="main-doc">
    <!-- Section 1 -->
    <section class="main-section" id="What_is_Vue.js?">
      <header>What is Vue.js?</header>
      <p>Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.</p>
      <p>If you'd like to learn more about Vue before diving in, we created a video walking through the core principles and a sample project.</p>
      <p>If you are an experienced frontend developer and want to know how Vue compares to other libraries/frameworks, check out the Comparison with Other Frameworks.</p>
    </section><hr>

    <!-- Section 2 -->
    <section class="main-section" id="Getting_Started">
      <header>Getting Started</header>
      <p>The easiest way to try out Vue.js is using the Hello World example. Feel free to open it in another tab and follow along as we go through some basic examples. Or, you can create an index.html file and include Vue with:</p>
      <ul>
        <li>
          <code>
            <pre class="code">&lt;script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"&gt;&lt;/script&gt;</pre>
          </code>
        </li>
        <li>
          <code>
            <pre class="code">&lt;script src="https://cdn.jsdelivr.net/npm/vue@2"&gt;&lt;/script>&gt;&lt;/script&gt;</pre>
          </code>
        </li>
      </ul>
      <p>The Installation page provides more options of installing Vue. Note: We do not recommend that beginners start with vue-cli, especially if you are not yet familiar with Node.js-based build tools.</p>
      <p>If you prefer something more interactive, you can also check out this tutorial series on Scrimba, which gives you a mix of screencast and code playground that you can pause and play around with anytime.</p>
    </section><hr>

    <!-- Section 3 -->
    <section class="main-section" id="Declarative_Rendering">
      <header>Declarative Rendering</header>
      <p>At the core of Vue.js is a system that enables us to declaratively render data to the DOM using straightforward template syntax:</p>
      <ul>
        <li>
          <code>
            <pre class="code">
&lt;div id="app"&gt;
  {{ message }}
&lt;/div&gt;</pre>
          </code>
        </li>
        <li>
          <code>
            <pre class="code">
var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})</pre>
          </code>
        </li>
      </ul>
      <p>We have already created our very first Vue app! This looks pretty similar to rendering a string template, but Vue has done a lot of work under the hood. The data and the DOM are now linked, and everything is now reactive.</p>
      <span class="run-code">Hello Vue!</span>
    </section><hr>

    <!-- Section 4 -->
    <section class="main-section" id="Conditionals_and_Loops">
      <header>Conditionals and Loops</header>
      <p>It's easy to toggle the presence of an element, too:</p>
      <ul>
        <li>
          <code>
            <pre class="code">
&lt;div id="app-3"&gt;
  &lt;span v-if="seen"&gt;Now you see me&lt;/span&gt;
&lt;/div&gt;</pre>
          </code>
        </li>
        <li>
          <code>
            <pre class="code">
var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})</pre>
          </code>
        </li>
      </ul>
      <span class="run-code">Now you see me</span>
    </section><hr>

    <!-- Section 5 -->
    <section class="main-section" id="Handling_User_Input">
      <header>Handling User Input</header>
      <p>To let users interact with your app, we can use the "v-on" directive to attach event listeners that invoke methods on our Vue instances:</p>
      <ul>
        <li>
          <code>
            <pre class="code">
&lt;div id="app-5"&gt;
  &lt;p&gt;{{ message }}&lt;/p&gt;
  &lt;button v-on:click="reverseMessage"&gt;Reverse Message&lt;/button&gt;
&lt;/div&gt;</pre>
          </code>
        </li>
        <li>
          <code>
            <pre class="code">
var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})</pre>
          </code>
        </li>
      </ul>
      <p>Note that in this method we update the state of our app without touching the DOM - all DOM manipulations are handled by Vue, and the code you write is focused on the underlying logic.</p>
    </section><hr>

    <section class="main-section" id="Composing_with_Components">
      <header>Composing with Components</header>
      <p>The component system is another important concept in Vue, because it’s an abstraction that allows us to build large-scale applications composed of small, self-contained, and often reusable components. If we think about it, almost any type of application interface can be abstracted into a tree of components:</p>
      <p>In Vue, a component is essentially a Vue instance with pre-defined options. Registering a component in Vue is straightforward:</p>
      <ul>
        <li>
          <code>
            <pre>
// Define a new component called todo-item
Vue.component('todo-item', {
  template: '&lt;li&gt;This is a todo&lt;/li&gt;'
})

var app = new Vue(...)</pre>
          </code>
        </li>
        <p>Now you can compose it in another component’s template:</p>
        <li>
          <code>
            <pre>
&lt;ol&gt;
  &lt;!-- Create an instance of the todo-item component --&gt;
  &lt;todo-item&gt;&lt;/todo-item&gt;
&lt;/ol&gt;</pre>
          </code>
        </li>
        <p>But this would render the same text for every todo, which is not super interesting. We should be able to pass data from the parent scope into child components. Let’s modify the component definition to make it accept a prop:</p>
        <li>
          <code>
            <pre>
Vue.component('todo-item', {
  // The todo-item component now accepts a
  // "prop", which is like a custom attribute.
  // This prop is called todo.
  props: ['todo'],
  template: '&lt;li&gt;{{ todo.text }}&lt;/li&gt;'
})</pre>
          </code>
        </li>
        <p>Now we can pass the todo into each repeated component using v-bind:</p>
        <li>
          <code>
            <pre>
&lt;div id="app-7"&gt;
  &lt;ol&gt;
    &lt;!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    --&gt;
    &lt;todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    &gt;&lt;/todo-item&gt;
  &lt;/ol&gt;
&lt;/div&gt;</pre>
          </code>
        </li>
        <li>
          <code>
            <pre>
Vue.component('todo-item', {
  props: ['todo'],
  template: '&lt;li&gt;{{ todo.text }}&lt;/li&gt;'
})

var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ]
  }
})</pre>
          </code>
        </li>
      </ul>
      <span class="run-code">
        <ol>
          <li>1. Vegetables</li>
          <li>2. Cheese</li>
          <li>3. Whatever else humans are supposed to eat</li>
        </ol>
      </span>
    </section>
  </main>
</body>
</html>